
<div class="row">
    <div class="col-md-6">
    <img  src="/assets/{{produc.imagen}}" style="width: 100%; height: auto;" alt="">
       
    </div>
    <div class="col-md-6">
        <h4>{{produc.id}}</h4>
        <h4  style="font-size: small;">{{produc.marca}}</h4>
        <h4  style="font-size: small;">{{produc.modelo}}</h4>
        <h4  style="font-size: small;">{{produc.descripcion}}</h4>
<br>
        <h4 style="color: blue;">{{produc.precio}}</h4>

        <input id="number" type="number" value="4">
        <div style="height: 10px;"></div>
        <button>AGREGAR A LA BOLSA</button>

    </div>
</div>
